header {
    background-color: rgba($color: rgb(209, 218, 209), $alpha: 1);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
}
.logo {
    font-size: 32px;
    padding-top: 12px;
    .sufix {
        color: green;
    }
    @include maxLayout(767) {
        padding: 12px 20px;
    }
}
nav {
    color: $white;
    li {
        color: $black;
        padding: 20px 30px;
    }
}
.web {
    @include maxLayout(767) {
        display: none;
    }
}