#contact-page {
    background-color: #434951;
    padding: 30px 0px;
    color: rgba($color: $white, $alpha: 0.8);
    font-size: 16px;
    @include maxLayout(767) {
        display: block;
        padding: 20px;
    }
    .table-cell {
        @include maxLayout(767) {
            display: block;
            width: 100%;
        }
    }
    .contactus-subtitle {
        margin-bottom: 10px;
    }
    .contact-details {
        padding-left: 40px;
        @include maxLayout(767) {
            padding: 20px 0px 0px 0px;
        }
        .contact-item {
            border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.5);
            &:last-child {
                border: none;
            }
        }
        .address {
            font-style: normal;
            padding-bottom: 18px;
            p {
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .social-links {
            padding: 15px 0px;
            .icon {
                width: 26px;
                margin: 4px 8px 0px 0px;
            }
            .twitter {
                width: 30px;
            }
        }
        .reach-us {
            margin-top: 15px;
            .icon {
                width: 28px;
                margin: 4px 8px 0px 0px;
            }
        }
    }
}