html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}