@import './global';
@import './reset';
@import './fonts';
@import './colors';

// App
@import './../../components/App/app';

// components styles
@import './../../components/Header/header';
@import './../../components/Footer/footer';
@import './../../components/Home/home';
@import './../../components/About/about';